        <div class="footer">
          <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="#">nodeBlog 2018</a>
          </nav>              
        </div>

    
    </body>
</html>